@import java.util
@*(name : util.ArrayList[String],price : util.ArrayList[Float],quantity : util.ArrayList[Integer],category : util.ArrayList[String],flavour : util.ArrayList[String],image : util.ArrayList[String])*@
@(desserts : util.ArrayList[Dessert])
@main("Welcome to Dessert & More") {
<nav class="nav">
  <div class="container">
    <div class="logo">
      <a href="/home">Dessert & More</a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><a href="/add">Add</a></li>
        <li><a href="#desserts_heading">View</a></li>
        <li><a href="/others">Others</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="home">
</section>
<div style="height: 1000px">
  <!-- just to make scrolling effect possible -->
  <h2 class="myH2" id="desserts_heading">Desserts</h2>


  <table id="desserts_table" style="border: 2px solid #481f01;font-size: 30px;font-weight:bolder;width:100%;margin-left:0px " cellpadding="2" cellspacing="2" align="center">
    <thead>
    <tr>
      <th>Sr.No</th>
      <th>Image</th>
      <th>Item Name</th>
      <th>Category</th>
      <th>Flavour</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Modify</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    @for(d <- desserts) {
      <tr style="font-size: 15px;">
        <td style="text-align: center">@d.srno</td>
        <td><img src="@routes.Assets.versioned("images/"+d.dessert_image)" width="100" height="100"></td>
        <td style="text-align: center">&nbsp;&nbsp;&nbsp;@d.dessert_name</td>
        <td style="text-align: center">&nbsp;&nbsp;&nbsp;@d.dessert_category_name</td>
        <td>&nbsp;&nbsp;&nbsp;@d.dessert_flavour_name</td>
        <td>&nbsp;&nbsp;&nbsp;@d.dessert_price</td>
        <td style="text-align: center">&nbsp;&nbsp;&nbsp;@d.dessert_quantity</td>
        <td style="text-align: center"><a href="/modify/:@d.dessert_id"><img src="@routes.Assets.versioned("images/edit.png")" height="30" width="30"></a></td>
        <td style="text-align: center"><a href="/remove/:@d.dessert_id"><img src="@routes.Assets.versioned("images/remove.png")" height="30" width="30"></a></td>
      </tr>

      }
    </tbody>
  </table>

</div>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
  $(window).scroll(function() {
    if ($(document).scrollTop() > 50) {
      $('.nav').addClass('affix');
      console.log("OK");
    } else {
      $('.nav').removeClass('affix');
    }
  });
</script>


}
